 /* wallust template - colors-waybar */

 @define-color foreground #F8EEC0;
 @define-color background #16191C;
 @define-color background-alt rgba(22,25,28,0.25);
 @define-color cursor #DBC176;
 
 @define-color color0 #3D4044;
 @define-color color1 #1394AF;
 @define-color color2 #BD932C;
 @define-color color3 #0DADC8;
 @define-color color4 #EAAF36;
 @define-color color5 #1CD6F6;
 @define-color color6 #ECCF4A;
 @define-color color7 #EDDF9C;
 @define-color color8 #A69C6D;
 @define-color color9 #1394AF;
 @define-color color10 #BD932C;
 @define-color color11 #0DADC8;
 @define-color color12 #EAAF36;
 @define-color color13 #1CD6F6;
 @define-color color14 #ECCF4A;
 @define-color color15 #EDDF9C; 
