 /* wallust template - colors-waybar */

 @define-color foreground #FAFAFB;
 @define-color background #151414;
 @define-color background-alt rgba(21,20,20,0.25);
 @define-color cursor #A9B0AD;
 
 @define-color color0 #3D3B3B;
 @define-color color1 #4F564D;
 @define-color color2 #57665F;
 @define-color color3 #656760;
 @define-color color4 #767970;
 @define-color color5 #84918A;
 @define-color color6 #F1F2F4;
 @define-color color7 #F0F0F1;
 @define-color color8 #A8A8A9;
 @define-color color9 #4F564D;
 @define-color color10 #57665F;
 @define-color color11 #656760;
 @define-color color12 #767970;
 @define-color color13 #84918A;
 @define-color color14 #F1F2F4;
 @define-color color15 #F0F0F1; 
